/* Hiermit wird die Grundeinstellung für die gesamte Seite konfiguriert*/ 
html 
{ 
	font: 18px arial; 
 	color: black;
	
 } 

 
 
 
body  	/*Hintergrund der Website*/ 
{ 
    
	background-image: url("background.jpg"); 
	background-attachment: fixed;
	
} 

 
img.pic
{
	max-width:450px;
}
 

 

ul, nav /*Listen ohne Punkte*/  
{ 
	list-style: none; 
} 

h1 
{
	font-size: 15px;
	margin-left: 17px;
	
}

 

hr 		/* styling der Trennlinie */
{ 
	width:70%; 
	background-color:gray; 
	height:5px; 
	margin-left:15%;
	margin-right:15%;
	margin-bottom:0;
	margin-top:0;
	text-align: center; 
	border:1px solid black;
} 


section
{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}



 
 
/*Einstellungen für h3 Überschriften der Klasse title */ 
section h3.title
{ 
	color: red; 
	text-align: left;
	font: arial; 
	margin-top: 35px;
	margin-bottom: 35px; 
	
	
} 
 

 
/*Einstellungen für p in allen Sectionen*/ 
section p 
{ 
	max-width: 800px; 
	margin-bottom: 10px; 
	line-height: 2; /*Abstand zwischen den Zeilen*/ 
	text-align:left;
	
} 

/*Einstellungen für p Teilüberschriften*/
section p.extend
{ 
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	color: blue;
	
} 
 
/*Einstellungen der Navigationsleiste*/ 

 header nav
ul {
    width:100%;
	list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
	overflow:hidden;
    
}

li {
    float: left;
	text-align: center;
    padding: 5px 6px;
	
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;	/* nicht unterstrichen*/
	
}

li a:hover {
    background-color: gray;
}





/*-------------------------------------------*/ 

 /*Einstellungen für die Flexbox der Bilder*/
.flex-container
{
	
	max-width: 80%;
	display: flex;
	justify-content: space-between;/* Abstand zwischen den Komponenten*/
	align-items: center;
	flex-wrap: wrap;
	
	

	    
}
/*-------------------------------------------*/
	 
img.pic
{
	max-width:400px;
	margin-bottom:15px;
	border:2px solid black;
	
}

/*Größe der h3 wenn größer als 1000px*/ 
	section.our-work h3 
	{ 
		font-size: 40px; 
		text-align:left; 
		font-style: italic; /*Kursiv*/ 
	} 



/*Einstellungen für hero h1 wenn größer als 1000px*/ 
.hero h1 
{ 
	font: bold 60px 'Open Sans', sans-serif; 
	margin-bottom: 15px; 
	color:#960000; 
 
} 
 



 
/*Einstellungen Auflösung kleiner 1000Pixel*/ 
@media (max-width: 1000px) 
{ 
	 
	section.hero h1 
	{ 
	font-size: 40px; 
	} 
 
	section.our-work h3 
	{ 
		font-size: 25px; 
		 
	} 

 
	 
} 

 

 

/*Einstellungen Auflösung kleiner 600Pixel*/ 

 
@media (max-width: 600px) 
{ 

 
	 
section.hero h1 
	{ 
		font-size: 20px; 
	} 
 
	 
	header h2 
{ 
		margin-bottom: 15px; 
	} 
	section.our-work h3 
{ 
		font-size: 15px; 
	} 
} 
