/* Grundeinstellung für die gesamte Seite*/ 

html 
{ 
	font: 18px arial; 
 	color: black;
	
 } 

 
 
/*Hintergrund der Website*/

body  	
{ 
    
	background-image: url("background.jpg"); 
	background-attachment: fixed; /*Hintergrundbild fixiert, da Farbverlauf*/
	
} 

 
/*Listen ohne Punkte*/ 

ul, nav  
{ 
	list-style: none; 
} 

h1 
{
	font-size: 15px;
	margin-left: 17px;
	color:black;
}




/* styling der Trennlinie */ 

hr 		
{ 
	width:70%; 
	background-color:gray; 
	height:5px; 
	margin-left:15%;
	margin-right:15%;
	margin-bottom:0;
	margin-top:0;
	text-align: center; 
	border:1px solid black;
} 


/*Einstellungen für alle Sektionen*/

section
{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}



 
 
/*Einstellungen für h3 Überschriften der Klasse title */ 

section h3.title
{ 
	color: red; 
	font: arial; 
	margin-top: 35px;
	margin-bottom: 35px; 
	
	
	
} 
 

 
/*Einstellungen für p in allen Sektionen*/ 

section p 
{ 
	max-width: 800px; 
	margin-bottom: 10px; 
	line-height: 2; 
	text-align:left;
	
} 

/*Einstellungen für p Teilüberschriften*/

section p.extend
{ 
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	color: blue;
	
} 



 
/*Einstellungen der Navigationsleiste*/ 

header nav
ul {
    width:100%;
	margin: 0;
    padding: 0;
    background-color: black;
    top: 0;
	overflow:hidden;
    
}

li {
    float: left;
	text-align: center;
    padding: 5px 6px;
	
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;	/* nicht unterstrichen*/
	
}

li a:hover {
    background-color: gray;	
}






 /*Einstellungen für die Flexbox der Bilder*/
 
.flex-container
{
	
	max-width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	
  
}




/*Größer der Bilder anpassen*/

img.pic
{
	max-width:400px;
	margin-bottom:15px;
	border:2px solid black;
	
}

img.index
{
	float:right; 
	border:3px solid black;
	
}



/*Größe der h3 wenn größer als 1000px*/ 

	section.our-work h3 
	{ 
		font-size: 45px; 
		text-align:center; 
		font-style: italic; /*Kursiv*/ 
		
	} 

		
	


 
/*Einstellungen Auflösung kleiner 1000Pixel*/ 

@media (max-width: 1000px) 
{ 
	 
 
	section.our-work h3 
	{ 
		font-size: 25px; 
		font-style: normal;
		margin-bottom: 10px;
		
	} 

 
	 
} 

 

 

/*Einstellungen Auflösung kleiner 600Pixel*/ 

@media (max-width: 600px) 
{ 

	section.our-work h3 
{ 
		font-size: 20px;
		font-style: normal;
		margin-bottom: 10px;
		
	} 
} 
